/*------ template stylization ------*/
body {
	background: #2e2f31;
}
/*----------- Back to top --------------*/
#toTop {
	display: none;
	width: 27px;
	height: 19px;
	overflow: hidden;
	background: url(../img/totop.png) 0 bottom no-repeat;
	position: fixed;
	margin-right: -690px !important;
	right: 50%;
	bottom: 60px;
	z-index: 999;
}
#toTop:hover {
	background-position: 0 0;
}
#toTop:active, #toTop:focus {
	outline: none;
}
/*-----------row_s--------------*/
.row_1 {
	text-align: center;
	padding: 30px 0;
}

.row_3 {
	padding: 43px 0 13px;
	background: url(../img/pattern2.jpg) 0 0 repeat;
}
.row_4 {
	padding: 50px 0 50px;
	background: #ffffff;
}
.row_5 {
	padding: 50px 0;
	background: url(../img/pattern2.jpg) 0 0 repeat;
}

.row_7 {
	padding: 30px 0 30px;
	background: #dedede;
}

.feature-box {
    width: 100%;
    height: 23vh;
    background: white;
    border-radius: 4px;
    margin: 15px 0;
    padding: 20px 30px;
    text-align: center;
}

.feature-box a {
    text-decoration: none;
}

.feature-box p {
    margin: 10px 0 30px;
}

/*------------links headings-----------*/
p {
	font-family: 'Arial', sans-serif;
	font-size: 15px;
	line-height: 22px;
	color: #adadad;
	margin: 0;
	padding: 0;
	margin-bottom: 11px;
}
h2 {
	font-family: 'Georgia', serif;
	font-size: 26px;
	line-height: 28px;
	color: #474848;
	margin: 0;
	padding: 35px 0;
}
h3 {
	text-transform: uppercase;
	font-family: 'Georgia', serif;
	font-size: 12px;
	line-height: 20px;
	color: #4e4134;
	margin: 0 0 10px;
	padding: 0;
}
.btn1 {
	position: relative!important;
	background: #545658!important;
	color: #ffffff!important;
	font-family: 'Georgia', serif!important;
	font-size: 15px!important;
	line-height: 22px!important;
	font-weight: normal!important;
	border-radius: 50px!important;
	border: none!important;
	padding: 20px 0 24px!important;
	margin: 0!important;
	width: 65px!important;
	height: 65px!important;
	-webkit-transition: all 0.2s ease!important;
	transition: all 0.2s ease!important;
}
.btn1:hover {
	text-decoration: none;
	background: #ffffff;
	color: #545658;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.btn-link1 {
	position: relative;
	color: #585858;
	font-family: 'Georgia', serif;
	font-size: 15px;
	line-height: 22px;
	font-weight: normal;
}
.btn-link1 span {
	margin: 0 0 0 7px;
	top: 1px;
	position: relative;
	height: 11px;
	width: 11px;
	background: url(../img/arrowsmall1.png) center top no-repeat;
	display: inline-block;
}
.btn-link1:hover {
	color: #585858;
	text-decoration: none;
}
.btn-link1:hover span {
	background: url(../img/arrowsmall1.png) center bottom no-repeat;
}

/*------ header ------- */
header {
	background: #2f3133;
	text-align: center;
}
/*-------- Logo -------- */
.navbar-brand_ {
	float: none!important;
	display: block!important;
	position: relative!important;
	height: auto!important;
	text-align: center!important;
	padding: 0!important;
	margin: 68px auto 60px!important;
}
.navbar-brand_ img {
	max-width: 100%;
}
.navbar-brand_a:hover {
	text-decoration: none;
}
/*-----------------navbar---------------------*/
.menuheader {
	background: #545658;
}
.tm_navbar {
	position: relative;
	padding: 26px 0 22px;
	margin: 0;
	background: none;
	border: none;
}
.tm_navbar .nav {
	float: none;
	position: relative;
	display: inline-block;
}
.tm_navbar ul {
	position: relative;
	padding: 0;
	margin: 0;
	background: none;
	list-style: none;
}
.tm_navbar .nav li:first-child {
	position: relative;
	zoom: 1;
	background: none;
}
.tm_navbar .nav li {
	float: left;
	padding: 0 26px 0 27px;
	position: relative;
	zoom: 1;
	background: url(../img/bullet1.png) no-repeat left center;
}
.tm_navbar .nav li a {
	text-decoration: none;
	text-transform: lowercase;
	color: #ffffff;
	font-family: 'Georgia', serif;
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;
	background: transparent;
	padding: 0;
	border: none;
	border-radius: 0;
	text-shadow: 1px 1px 2px #333639;
}
.tm_navbar .nav > li > a .sf-sub-indicator {
	background: url(../img/indicator.png) no-repeat 0 bottom;
	width: 7px;
	height: 4px;
	display: inline-block;
	top: 30px;
	right: 23px;
	position: absolute;
	z-index: 5;
}
.tm_navbar .nav li a:hover, .tm_navbar .nav > li.active > a, .tm_navbar .nav > li.active > a:hover {
	color: #30b4c5;
	text-decoration: none;
}
.tm_navbar .nav > .active > a, .tm_navbar .nav > .active > a:hover, .tm_navbar .nav > .active > a:focus {
	color: #30b4c5;
	background: transparent;
}
.tm_navbar .nav > li.sfHover.active > a .sf-sub-indicator, .tm_navbar .nav > li.active > a .sf-sub-indicator {
	background-position: 0 0;
}
.tm_navbar .nav > li.sfHover > a, .tm_navbar .nav > li.sfHover > a:hover, .tm_navbar .nav > li > a:hover, .tm_navbar .nav > li.active > a, .tm_navbar .nav > li.active > a:hover {
	color: #30b4c5;
	background: transparent;
}
/*---------submenu1-------------*/
.tm_navbar .nav ul {
	position: absolute;
	display: none;
	top: 51px;
	left: 0px;
	width: 110px;
	padding: 20px 24px 10px;
	list-style: none;
	zoom: 1;
	z-index: 11;
	background: #30b4c5;
	margin: 0;
	text-align: center;
}
.tm_navbar .nav ul li:first-child {
	width: 64px;
	padding: 0 0 6px;
	display: block;
	position: relative;
	zoom: 1;
	z-index: 10;
	background: transparent;
}
.tm_navbar .nav ul li:first-child img {
	position: absolute;
	top: -20px;
}
.tm_navbar .nav ul li {
	text-align: left;
	width: 64px;
	padding: 6px 0;
	display: block;
	position: relative;
	zoom: 1;
	z-index: 10;
	background: url(../img/dotted1.png) top center repeat-x;
}
.tm_navbar .nav ul li a {
	text-align: left;
	position: relative;
	color: #ffffff;
	padding: 0;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	margin: 0 0 0 10px;
	text-shadow: none;
}
.tm_navbar .nav ul li a:hover {
	color: #474848;
}
.tm_navbar .nav > li > ul li > a:hover, .tm_navbar .nav > li > ul li.sfHover > a {
	text-decoration: none;
	color: #474848;
}
.tm_navbar .nav > li > ul li > a:hover, .tm_navbar .nav > li > ul ul li.sfHover > a {
	text-decoration: none;
	color: #474848;
}

/*-------------------select------------------*/
.select-menu {
	display: none !important;
}
/*------ content ------- */
.title1 {
	color: #ffffff;
	font-family: 'Georgia', serif;
	font-size: 36px;
	line-height: 38px;
	font-weight: normal;
	margin-bottom: 24px;
}
.title2 {
	letter-spacing: 0;
	color: #939598;
	font-family: 'Georgia', serif;
	font-size: 17px;
	line-height: 26px;
	font-weight: normal;
	margin-bottom: 28px;
}
/*---------list3-------------*/
.list3 {
	padding: 0;
	margin: 0;
	position: relative;
	list-style: none;
	overflow: hidden;
}
.box4 {
	overflow: hidden;
	position: relative;
	background: #ffffff;
	margin-bottom: 30px;
}
.list3 li figure {
	margin: 0;
	padding: 0;
	float: left;
	overflow: hidden;
	display: block;
	margin-right: 20px;
}
.list3 li figure img {
	width: 100%;
}
.list3 li .info1 {
	overflow: hidden;
	margin-top: 30px;
	padding-right: 10px;
}
.list3title1 {
	font-family: 'Georgia', serif;
	font-size: 26px;
	line-height: 28px;
	font-weight: normal;
	color: #4e4134;
	margin-bottom: 10px;
}
.list3title2 {
	font-family: 'Georgia', serif;
	font-size: 20px;
	line-height: 22px;
	font-weight: normal;
	color: #adadad;
	margin-bottom: 6px;
}
.list3title3 {
	margin-bottom: 10px;
	font-family: 'Georgia', serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
	color: #c6c6c6;
}
.title3 {
	font-family: 'Georgia', serif;
	font-size: 24px;
	line-height: 26px;
	font-weight: normal;
	color: #adadad;
	margin-bottom: 17px;
}
/*------------------isotop items------------------*/
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	overflow: visible;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: top, left, opacity;
	transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
.pad_bot3 {
	padding-bottom: 42px;
}
#container {
	margin-left: 0;
}
.containerExtra {
	margin-left: -30px;
}
.element {
	width: 270px;
	height: auto !important;
	display: block;
	position: relative;
	color: #222;
	border: none;
	margin: 0 !important;
	padding: 0 0 38px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#filters.pagination li a.selected {
	color: #797979;
	background: none !important;
	border: none;
	text-decoration: underline;
}
#filters.pagination li {
	float: left;
}
#filters li {
	display: inline-block;
	margin-right: 26px !important;
}
#options {
	position: relative;
	margin-left: 0;
}
.element > a {
	margin: 0;
	display: block;
	position: relative;
}
.element > a figure {
	position: relative;
	display: block;
	margin: 0 0 18px;
	padding: 0;
}
.element > a figure img {
	width: 100%;
}
.element > a span {
	position: relative;
	text-transform: uppercase;
	font-family: 'Georgia', serif;
	font-size: 12px;
	line-height: 20px;
	color: #797979;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.element span {
	position: relative;
	text-transform: uppercase;
	font-family: 'Georgia', serif;
	font-size: 12px;
	line-height: 20px;
	color: #797979;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.description {
	position: relative;
	display: block;
}
#filters {
	position: relative;
}
#filters li {
	display: inline-block;
	margin-right: 20px;
}
#filters li a {
	padding: 0;
	background: none;
	border: none;
	text-transform: uppercase;
	font-family: 'Georgia', serif;
	font-size: 12px;
	line-height: 20px;
	color: #797979;
	margin: 0;
	text-decoration: none;
}
#filters li a:hover {
	background: none;
	border: none;
	text-decoration: none;
}
#options .pagination {
	margin: 1px 0 30px 0;
}
/*--------links------------*/
.client-btn {
	background-color: #30b4c5;
	border-color: #30b4c5;
}
.client-btn:hover,
.client-btn:active,
.client-btn:visited,
.client-btn:link {
	background-color: #298996!important;
	border-color: #298996!important;
}
/*--------- footer --------- */
footer {
	padding: 64px 0;
	background: url("../img/linefooter.jpg") top center repeat-x;
}
/*--------------social----------------*/
.social_icons {
	overflow: hidden;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	position: relative;
	margin: 28px 0 0;
	z-index: 10;
}
.social_icons > li {
	float: left;
	cursor: pointer;
	width: 32px;
	height: 31px;
	overflow: hidden;
	margin-right: 14px;
}
.social_icons > li a {
	width: 32px;
	height: 31px;
	overflow: hidden;
}
.social_icons > li a img {
	position: relative;
	top: 0;
}
.social_icons > li a:hover img {
	position: relative;
	top: -31px;
}
.footerlogo {
	text-align: center;
}
.smalllogo2 {
	position: relative;
	top: 5px;
}
.footer-text {
	margin-top: 21px;
	margin-right: 66px;
	text-align: right;
	font-family: 'Georgia', serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #f2eee5;
}
.text-link {
	color: #30b4c5;
	text-decoration: none;
}
.text-link:hover {
	color: #30b4c5;
	text-decoration: underline;
}
.footer-text a {
	font-family: 'Georgia', serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
	color: #f2eee5;
	text-decoration: underline;
}
.footer-text a:hover {
	text-decoration: none;
	color: #30b4c5;
}

#admin-login-form, #add-client-form, #edit-client-form {
	padding: 0 30%;
}

.gallery-container {
    width: 100%;
    margin-top: 35px;
}

.square-thumbnail {
    width: 20%;
    height: 22vh;
    margin: 15px 0;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.30);
    font-size: 25px;
    text-align: center;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position-y: 50%!important;
}

.progress {
    margin-top: 20px;
}

.btn-remove-img {
    float: right;
    margin: 5px;
}

.admin-home-link {
    float: right;
    position: relative;
    bottom: 45px;
    color: #428bca;
    font-size: 16px;
}

.admin-home-link a {
    margin-left: 5px;
}

.client-row {
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #e4e4e4;
}

.client-row p {
    margin-bottom: 0;
}

.remove-client-btn, .photos-client-btn, .edit-client-btn {
    font-size: 16px;
    margin: 0 10%;
    float: right;
}

#upload-pics-btn {
	float: right;
}


/*----- media queries ------*/
@media (min-width: 1220px) {
	.list3 li figure {
		margin-right: 53px;
	}
	.list3 li .info1 {
		overflow: hidden;
		margin-top: 46px;
	}
	.container {
		padding: 0;
	}
}
@media (max-width: 991px) {
	#client-page #content {
		text-align: center;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.footercol {
		float: left;
		width: 33%;
		margin-bottom: 20px;
	}
	.footer-text {
		margin-top: 21px;
		margin-right: 0;
		font-size: 14px;
	}
	.footer-text a {
		font-size: 14px;
	}
	.row_4 {
		margin-left: 0;
	}
	.row_4 .row4_col {
		margin: 0;
		float: left;
		margin-left: 0;
		width: 33%;
	}
	.list3 {
		margin-left: 0;
	}
	.list3 li {
		width: 50%;
		float: left;
		margin-left: 0;
	}
	.list3 li figure {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.list3 li .info1 {
		overflow: hidden;
		margin-top: 0;
		padding: 20px;
	}
	.nav-collapse_ .nav > li {
		float: left;
	}
	.navbar_ {
		width: auto!important;
		overflow: visible !important;
		height: auto;
		clear: none;
	}
}
@media (max-width: 767px) {
	.row_4 .row4_col .btn-link3 {
		font-size: 12px;
	}
	.footercol {
		float: none;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
	.social_icons {
		display: inline-block;
	}
	.footer-text {
		margin-top: 0;
		margin-right: 0;
		float: none;
		text-align: center;
	}
	.row_4 {
		margin-left: 0;
	}
	.row_4 .row4_col {
		margin: 0;
		float: left;
		width: 30%;
	}
	.sf-menu {
		display: none !important;
	}
	.select-menu {
		display: block !important;
		color: #ffffff;
		border: 1px solid #343434;
		background: #343434 !important;
		-webkit-box-shadow: none;
		box-shadow: none;
		position: relative;
		width: 100%;
		margin: 0;
		padding: 5px;
	}
	.select-menu option {
		padding: 0;
	}
	.client-btn {
	margin-top: 20px;
	}
}
@media (max-width: 600px) {
	.row_4 .row4_col .btn-link3 {
		font-size: 18px;
	}
	.row_4 {
		margin-left: 0;
	}
	.row_4 .row4_col {
		margin: 0;
		float: none;
		width: 100%;
	}
}
@media (max-width: 480px) {
	.list3 li figure {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.list3 li .info1 {
		padding: 20px;
		overflow: hidden;
		margin-top: 20px;
	}
}
.admin-signin {
	text-align: center;
}